# IntelliJ project files
**/.idea

# Local data mounts for docker containers
./data

# Output of templating engine
./config
./docker-compose.yml

# Secret keys
**/api_key.txt

# Per-deployment config
./config.yml
