# IntelliJ project files
**/.idea

# Local data mounts for docker containers
/data

# Output of templating engine
/config
/scripts
/docker-compose.yml
/apps/bcc3d.ca/_config.yml


# Secret keys
**/api_key.txt

# Per-deployment config
/config.yml

# Data backups
/backups
