[Unit]
Description=BCC3D Quality Assurance Docker Compose Stack
Requires=docker.service
After=docker.service

[Service]
Environment=COMPOSEFILE=/home/core/qa/docker-compose.yml
ExecStartPre=/opt/bin/docker-compose -f $COMPOSEFILE down
ExecStart=/opt/bin/docker-compose -f $COMPOSEFILE up
ExecStop=/opt/bin/docker-compose -f $COMPOSEFILE down
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=qa
