[Unit]
Description=BCC3D SSL termination service
Requires=docker.service
After=docker.service

[Service]
Environment=COMPOSEFILE=/home/core/live/apps/ssl/docker-compose.yml
ExecStartPre=/opt/bin/docker-compose -f $COMPOSEFILE down
ExecStart=/opt/bin/docker-compose -f $COMPOSEFILE up
ExecStop=/opt/bin/docker-compose -f $COMPOSEFILE down
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
Alias=nginx
